streamlit==1.44.1 
flask==3.0.2
pandas==2.2.3
numpy==1.26.4
sentence-transformers==2.2.2
scikit-learn==1.6.1
gunicorn==21.2.0
python-dotenv==1.0.0
setuptools==69.5.1
huggingface-hub==0.17.3
torch==2.2.2
transformers==4.34.0
selenium==4.31.0
beautifulsoup4==4.13.3